html,body{
    margin: 0px;
    padding: 0px;
   
}
body{
    display: flex;
flex-direction:row;


}
body::-webkit-scrollbar{
    display: none;
}
#left-sidebar{
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: black;

   
   
}


h3,h4,p{
    color:white;
}
header{
    background-color: #191D20;
    
}
nav{
    display: flex;
   padding-inline-end: 10px;
    align-items: center;
    
}


#profile-img > img{
    width: 80px;
    height: 80px;

}
#billboard{
    width: 100%;
    padding-inline: 10px;
    margin: 10px;

}
#billboard > img{
    width: 1284px;
    height: 463px;
    top: 106px;
    left: 426px;
    border-radius: 30px;
    
}

.btn {
 width: 176px;
height: 46px;
color:white;
padding-right: 20px;
background-color: #FF2424;


}
#search{
 
 
    padding-inline: 20px;
  

}
input{
    width: 700px;
height: 46px;
top: 20px;
left: 426px;
border-radius: 5px;
    border:none;
    outline: none;
    font-size: medium;
    
}
header{
    position:sticky;
    top:0px;
}
nav{
    display: flex;
    gap:10px;
}


#profile-img-1 >img{
width: 200px;
height: 200px;
}
.links ,.links-2{
    display: flex;
    flex-direction:column ;
    text-align:left;
    padding: 30px;
    
}
a{
    text-decoration:none;


}

#burg{
    padding: 10px;
}
#burg >img{
    width: 250px;
    height: 215px;
    border-radius: 20px;

}
.food-divs{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.menu-divs{
    width: fit-content;
    padding: 10px;
    margin: 10px;


}
